<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>My Goals!</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">New Goal</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="Enter New Goal Here" placeholder="Enter Example Text">
          </div>
          {{!-- <div class="form-group">
            <label for="example-description">Goal Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Goal Description"></textarea>
          </div> --}}
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <div id = container>
        <h3>Goals:</h3>

        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</span></a>
            <button class="btn btn-danger float-right delete"></i>Delete</button>
          </li>
          {{/each}}
        </ul>
        </div>
        {{!-- <h3>Goals:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-primary float-right move">Complete</button>
            <button class="btn btn-danger float-right delete">Delete</button>
          </li>
          {{/each}}
        </ul> --}}
        {{!-- <h3>Accomplished:</h3>
        <ul id="accomp-list" class="list-group">
          {{#each accomplished}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul> --}}
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>


{{!-- <div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>My Goals!</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">New Goal</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="Enter New Goal Here" placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-description">Goal Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Goal Description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <div id = container>
        <h3>Goals:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-primary float-right move">Complete</button>
            <button class="btn btn-danger float-right delete">Delete</button>
          </li>
          {{/each}}
        </ul>
        </div>
        {{!-- <h3>Goals:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-primary float-right move">Complete</button>
            <button class="btn btn-danger float-right delete">Delete</button>
          </li>
          {{/each}}
        </ul> --}}
        <h3>Accomplished:</h3>
        <ul id="accomp-list" class="list-group">
          {{#each accomplished}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
